<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pupil.buum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BUMM"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegestrierenActivity" />
        <activity android:name=".HomepageActivity" />
        <activity android:name=".ProduktansichtActivity" />
        <activity android:name=".BestellungenActivity" />
        <activity android:name=".KontoActivity" />
        <activity android:name=".WarenkorbActivity"></activity>
    </application>

</manifest>
